<nav class="navbar navbar-expand narbar-light bg-light">
  <div class="nav navbar-nav">
    <a href="#" class="nav-item nav-link active">Home</a><span class="visually-hidden"></span>
    <a class="nav-item nav-link" routerLink="listar-empleado">Listar empleados</a>
    <a class="nav-item nav-link" routerLink="agregar-empleado">Agregar empleados</a>
  </div>
</nav>
<div class="container">
  <div class="row">
    <div class="col-md-8">
      <ul class="list-group">
        <li *ngFor="let empleado of employeeArray" 
            class="list-group-item list-group-item-action">
          <span class="badge badge-primary">{{empleado.nombre}}</span>{{ empleado.nombre }}
        </li>
      </ul>
      <div class="card">
        <div class="card-body">
          <div class="card-title">
            Inserta un nuevo empleado
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4"></div>
  </div>
</div>

